<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OLX Best Cars</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>OLX Best Cars</h1>
    <button onclick="history.back()">
        Voltar
    </button>
    <div class="car-container">
        <ul>
            <li class="car">Corolla</li>
            <li class="city">João Pessoa</li>
            <li class="year">2019/2020</li>
            <li class="km">40.000 km</li>
            <li class="price">R$ 110.000,00</li>
            <li class="img"><img src="assets/img.jpg"></li>
            <li class="click"><a href={{car.url}}>Visualizar</a></li>
        </ul>
    </div>  
</body>
</html>