@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
	--color-primary-50: rgb(232, 232, 249);
	--color-primary-100: rgb(224, 224, 246);
	--color-primary-200: rgb(216, 216, 244);
	--color-primary-300: rgb(193, 193, 238);
	--color-primary-400: rgb(146, 147, 225);
	--color-primary-500: rgb(99, 100, 212);
	--color-primary-600: rgb(89, 90, 191);
	--color-primary-700: rgb(74, 75, 159);
	--color-primary-800: rgb(59, 60, 127);
	--color-primary-900: rgb(42, 42, 88);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(233, 233, 236, 0.257);
}

h1 {
    color: rgb(57, 49, 104);
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    letter-spacing: 3px;    
}

button {
  background-color: #fa9806;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.342);
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 13px;
  width: 80px;
  height: 30px;
  font-size: 15px; 
  cursor: pointer;
}

button:hover { 
  background-color: #e07912;
}

.car-container {
    color: rgb(99, 100, 116);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.car-container ul {
    background-color: rgba(233, 233, 236, 0.259);
    border: 1px solid rgba(191, 191, 202, 0.214);
    box-shadow: 2px 2px 3px rgba(212, 212, 223, 0.331);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    padding: 20px;    
}

.car-container ul li {
    list-style-type: none;
    padding-bottom: 6px;
}

.car-container .car {
    color: rgb(59, 60, 127);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.car-container .img img {
  box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.342);
  width: 250px;
  height: 180px;
  margin-top: 10px;
  border-radius: 5px;  
}

.car-container .click {
    background-color: rgb(89, 90, 191);
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.342);
    text-align: center;
    width: 100px;
    height: 16px;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;    
}

.car-container .click:hover {
  background-color: rgb(59, 60, 127);
}

.car-container .click a {
    color: white;  
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}